// nav defaults scheme

$nav-def-bg: rgb(51, 51, 51);
$nav-def-col: white;
$nav-def-hover-bg: rgb(224, 56, 50);
$nav-def-hover-col: rgb(51, 51, 51);

// dark basic nav scheme
// $$ dark-nav :

// light basic nav scheme
// $ light-nav :


// purple rain
// pour test
$nav-purple-bg: rgb(82, 67, 123);
$nav-purple-col: rgb(246, 240, 120);
$nav-purple-hover-bg: rgb(1, 0, 89);
$nav-purple-hover-col: rgb(51, 51, 51);

/////////////////////////////////////////////////////////////

