@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

$font-Chilanka: 'Chilanka', cursive;
$font-Mont: 'Montserrat', sans-serif;
$font-barriecito: 'Barriecito', cursive;
